{
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 3,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
