# Hello World

this is some content from @OllieJT on pr #32

this is on https://github.com/OllieJT/svelte-podcast/pull/39

> this is a quote

## this is a subheading

`const this_is = "code"`

```js
const this_is = 'code_block';
console.log(this_is);
```

```js {1,3-4} showLineNumbers
function fancyAlert(arg) {
	if (arg) {
		$.facebox({ div: '#foo' });
	}
}
```

```svelte {1,3-4} showLineNumbers
<script>
	import { episode_audio } from 'svelte-podcast';
</script>

<!-- load the episode on click -->
<button
	on:click={() =>
		episode_audio.load('/episode-audio.mp3', {
			/* optional metadata */
		})}
>
	Load Episode
</button>

<!-- unload the episode on click -->
<button on:click={() => episode_audio.unload()}>Unload Episode</button>
```

[This is a link](https://www.google.com)

- this is a list
- this is a list
- this is a list

1. this is a numbered list
2. this is a numbered list
3. this is a numbered list

| this | is  | a   | table |
| ---- | --- | --- | ----- |
| this | is  | a   | table |
| this | is  | a   | table |
